i{
    font-size: 20px;
}
.skills-row div{
    border:1px solid black;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    padding: 10px;
}
.skills-row div:hover{
    background-color: #9a9a9a;
    color: #fff;   
}